body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: 
}

h2 {
    color: 
}

header h2 {
    color: 
}

footer {
    background-image: linear-gradient(#8fe3e9,  #106a6b);
    padding: 20px 0;
}

.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, #8fe3e9, hsl(153, 61%, 48%), #106a6b);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}
.navbar {
    background-color: #053c56;
}